:root {
  /* ベース */
  --color-background: #fafafa;
  --color-surface: #ffffff;

  /* テキスト */
  --color-text-primary: #1c1b1d;
  --color-text-secondary: #8c8a8f;

  /* 枠線 */
  --color-border: #e8e6eb;

  /* アクセント */
  --color-accent: #b981ef;
  --color-accent-soft: #F8F0FF;
  --color-accent-shadow: #8023d766;

  /* その他ボタン等 */
  --color-button-dark: #3b393c;
  --color-shadow: #00000026;
}